@mixin mobile{
	@media only screen and (max-width: 768px){
		@content;
	}
}

.slickbox {
    margin: 0px auto;
    @include mobile {
        // margin-top: 0px;
    }
    img{
        display: block;
        width: 100%;
    }

    .slickbox--1{
        .slick-slide{
            padding: 0 15px;
            @include mobile {
                padding: 0 6px;
            }
        }

        .slick-prev, .slick-next{
            top: -80px;
            @include mobile {
                top: -56px;
            }
        }
        .slick-prev {
            left: 68%;
            &::before{
                color: black;
            }
            @include mobile {
                left: inherit;
                right: 128px;
            }
            
        }

        .slick-next {
            left: 76%;
            &::before{
                color: black;
            }
            @include mobile {
                left: inherit;
                right: 30px;
            }
        }
        p{
            margin-left: 26px;
            margin-right: 26px;
            margin-top: 20px;
            @include mobile {
                margin-top: 15px;
            }
        }
    }


    .slickbox--2{
        .slick-slide{
            padding: 0 42px;
            @include mobile {
                padding: 0;
            }
        }
        
        .slick-prev, .slick-next{
            top: -80px;
            @include mobile {
                top: -56px;
            }
        }

        .slick-prev {
            left: 76.5%;
            &::before{
                color: black;
            }
            @include mobile {
                left: inherit;
                right: 100px;
            }
        }
        .slick-next {
            left: 87.8%;
            &::before{
                color: black;
            }
            @include mobile {
                left: inherit;
                right: 0;
            }
        }

        h2 {
            margin-bottom: 25px;
            @include mobile {
                margin-bottom: 10px;
            }
        }
        .text-card {
            padding: 30px 25px;
            background-color: #fff;
            position: relative;
            bottom: 40px;
            left: 20px;
            @include mobile {
                bottom: 0;
                left: 0;
            }
        }
    }
}
.about-us-page {
    .slickbox {
        margin: 0 auto 100px;
        @include mobile {
            margin-bottom: 60px ;
        }
    }
    .slide-title {
        h1 {
            text-align: left;
        }
    }
}
.card-wrap {
    padding-bottom: 100px;
    @include mobile {
        padding-bottom: 60px;
    }

    h1 {
        margin-bottom: 40px;
        @include mobile {
            margin-bottom: 20px;
        }
    }
}
.slide-wrap {
    margin-top: 20px;
    @include mobile {
        margin-top: 5px;
    }
}









.card-link {
    color: #000;
    .item {
        position: relative;
        overflow: hidden;
        .career-img-holder {
            height: 225px;
          }
      }

    /* item1:記者 */
    .item1 .career-img-holder {
        background: url(../images/img_teams-related/img_teams-related_reporters.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }
    /* item2:內容製作 */
    .item2 .career-img-holder {
        background: url(../images/img_teams-related/img_teams-related_content-product.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }
    /* item3:行銷 */
    .item3 .career-img-holder {
        background: url(../images/img_teams-related/img_teams-related_marketing.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }
    /* item4:業務 */
    .item4 .career-img-holder {
        background: url(../images/img_teams-related/img_teams-related_sales.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }
    /* item5:數位產品 */
    .item5 .career-img-holder {
        background: url(../images/img_teams-related/img_teams-related_digital-product.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }
    /* item6:數據工程 */
    .item6 .career-img-holder {
        background: url(../images/img_teams-related/img_teams-related_data.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }
    /* item7:資訊工程 */
    .item7 .career-img-holder {
        background: url(../images/img_teams-related/img_teams-related_engineering.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }
    /* item8:維運管理 */
    .item8 .career-img-holder {
        background: url(../images/img_teams-related/img_teams-related_support-and-operation.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s;
    }

    &:hover {
        .career-img-holder {
            transform: scale(1.05); 
          }
    }
  }
@include mobile {
    .card-link .item .career-img-holder {
        height: 177px;
      }
}